<html>
<head>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/jquery-accessible-tabs/js/jquery.tabs.js"></script>
<script src="wizard.js"></script>
<link href="wizard.css" type="text/css" rel="stylesheet"/>

<script src="style123.js"></script>
<link href="style123.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
function setStyle(name) {
  $(".wizard").removeClass('style123')
  $('.step-num').css('display','none');
  $('.filled-circle').css('display','none');
  
  if (name != "none") {
    $(".wizard").addClass(name);
    $('.step-num').css('display','block');
    $('.filled-circle').css('display','block');
  } 
}

  $(document).ready(function(){
    setStyle('none');
    $('#switch').change(
      function(){
        style_name = $(this).val();
        setStyle(style_name);
    });
  });
</script>

</head>

<body>
<h1>Wizard Interface Experiment</h1>

<select id="switch">
    <option value="none">None</option>
    <option value="style123">&#9312; &#9313; &#9314;</option>
</select>
<p>&nbsp;</p>

<div class="wizard style123">
<fieldset>
<legend><span class="section-title">Salutations</span></legend>
<div class="form-item">
  <label>Greeting</label>
  <input type="text" size="60"/>
</div>
<div class="form-item">
  <label>Signature</label>
  <input type="text" size="60"/>
</div>
</fieldset>
<fieldset>
<legend><span class="section-title">Stuff</span></legend>
<p>Bacon ipsum dolor sit amet biltong officia meatloaf frankfurter laboris sint quis dolor salami chuck pastrami beef ribs pork chop swine pig. Kielbasa fugiat venison, ea esse anim filet mignon tempor pariatur enim chicken salami velit pastrami. Sed pork incididunt sint aliquip. Deserunt strip steak exercitation bacon ea do tenderloin chicken. Est consectetur tail pastrami excepteur leberkas elit hamburger ex ea occaecat sint velit.
</p>
</fieldset>
<fieldset>
<legend><span class="section-title">Notes</span></legend>
<div class="form-item">
  <textarea cols="60" rows="6"></textarea>
</div>
</fieldset>
</div>
</body>
</html>
