<html>
<head>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/jquery-accessible-tabs/js/jquery.tabs.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  console.log('ready');
    $(".wizard").accessibleTabs({
        tabhead:'legend',
        tabbody:'fieldset',
        currentInfoText:'',
        fx:"show",
        fxspeed:null
    });
});

</script>   
<style type="text/css">
.wizard legend {
  display: none;
}
.wizard label {
  float:left;
  text-align:right;
  width:75px;
  margin-right:4px;
}
</style>
</head>

<body>
<h1>Wizard Interface Experiment</h1>
<div class="wizard">
<fieldset>
<legend><span class="section-title">Saluations</span></legend>
<div class="form-item">
  <label>Greeting</label>
  <input type="text" size="60"/>
</div>
<div class="form-item">
  <label>Signature</label>
  <input type="text" size="60"/>
</div>
</fieldset>
<fieldset>
<legend><span class="section-title">Stuff</span></legend>
<p>Bacon ipsum dolor sit amet biltong officia meatloaf frankfurter laboris sint quis dolor salami chuck pastrami beef ribs pork chop swine pig. Kielbasa fugiat venison, ea esse anim filet mignon tempor pariatur enim chicken salami velit pastrami. Sed pork incididunt sint aliquip. Deserunt strip steak exercitation bacon ea do tenderloin chicken. Est consectetur tail pastrami excepteur leberkas elit hamburger ex ea occaecat sint velit.
</p>
</fieldset>
<fieldset>
<legend><span class="section-title">Notes</span></legend>
<div class="form-item">
  <textarea cols="60" rows="6"></textarea>
</div>
</fieldset>
</div>
</body>
</html>
