.styletab li {
  height: 10px;
  margin-bottom: -1px;
  border-top-right-radius: 12px 6px;
  margin-left: 2px;
  margin-right: -4px;
  border: solid 1px #ccf;
  background-color: #eef;
}

.styletab .current {
  z-index: 1;
  border-bottom: solid 1px #fff;
  background-color: #fff;
  
}

.styletab .current a:link,visited {
  color:#009;
}

.styletab li a:link,visited {
  color:#99c;
}


